<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-current.dtd">

<suite name="Selenium UI API Mobile Framework Suite">

    <test name="UI Smoke Tests">
        <classes>
            <class name="com.hemanth.automation.tests.ui.HomePageTest"/>
        </classes>
    </test>

</suite>